*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color:black;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image:url("abc.jpg");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.address-1{
    color: #cccccc;
    font-size:0.85rem;
    margin-left: 15px;
}
.address-2{
    font-size: 1rem;
     margin-left: 3px;
}
.add-icon{
    display:flex;
    align-items: center;
}
.nav-search{
    display: flex;
    margin: 11px;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    justify-content: space-evenly;
}
.search-select{
    background-color:#f3f3f3;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    width: 50px;
    border: none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    color: black;
}
.nav-second{
font-size:1rem;
font-weight: 700;
}
span{
    font-size: 0.85rem;
}
.nav-search:hover{
    border: 2px solid orange;
}
.nav-cart{
    display: flex;
}
.cart-font{
    padding-top: 20%;
    font: bold;
}
.nav-cart i{
    font-size: 30px;
}
.panel-ops p{
   display: inline;
   margin-left: 15px;
}
.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.panel-ops{
   width: 70%;
   font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image:url("imageamzn.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top:15px;
    font-size: 10px;
    font-weight: 700                              ;
}
.box-image{
    background-image: url("box1.jpg");
    background-size: cover;
    height: 325px;
    margin-bottom: 10px;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content a{
    color: #007185;
}
.box-image3{
    background-image: url("box3.jpg");
    background-size: cover;
    height: 325px;
    margin-bottom: 10px;
}
.box-image2{
    background-image: url("box2.jpg");
    background-size: cover;
    height: 325px;
    margin-bottom: 10px;
}
.box-image4{
    background-image: url("box4.jpg");
    background-size: cover;
    height: 325px;
    margin-bottom: 10px;
}
.box-image5{
    background-image: url("box5.jpg");
    background-size: cover;
    height: 325px;
    margin-bottom: 10px;
}
.box-image6{
    background-image: url("box6.jpg");
    background-size: cover;
    height: 325px;
    margin-bottom: 10px;
}
.box-image7{
    background-image: url("box7.jpg");
    background-size: cover;
    height: 325px;
    margin-bottom: 10px;
}
.box-image8{
    background-image: url("box8.jpg");
    background-size: cover;
    height: 325px;
    margin-bottom: 10px;
}
.footpanel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footpanel2{
    background-color:#222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
ul{
    margin-top: 20px;
}
.footpanel3{
    background-color:black;
    color: white;
    border:0.5px soild white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    background-image:url("abc.jpg");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.footpanel4{
    background-color: #0f1111 ;
    color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footpanel4 a{
    margin: 10px;
    font-size: 0.85rem;
}
.copyright{
    background-color: #0f1111 ;
    color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}